<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title> USF Fatal Process Error</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/default-error.css">
    </head>
    <body>
        <div class="error-container">
            <div class="error-header">
                Process Error
            </div>
            <div class="error-body">
                <div class="error-statement">
                    Sorry, but there has been a fatal error processing your request. If this error persists, please contact your Application Administrator with the following information. Thank you.
                </div>
                <div class="error-information">
                    <div class="error-line">
                        <div class="error-prompt">
                            Error ID:
                        </div>
                        <div class="error-text">
                            <!-- ####USCREF_ERROR_REFERENCE### -->
                        </div>
                    </div>
                    <div class="error-line">
                        <div class="error-prompt">
                            Failing Action:
                        </div>
                        <div class="error-text">
                            <!-- ####USCREF_ERROR_PACKET_ACTION### -->
                        </div>
                    </div>
                    <div class="error-line">
                        <div class="error-prompt">
                            Error Location:
                        </div>
                        <div class="error-text">
                            <!-- ####USCREF_ERROR_PACKET_LOCATION### -->
                        </div>
                    </div>
                    <div class="error-line error-expand">
                        <div class="error-prompt error-expand">
                            Error Info:
                        </div>
                        <div class="error-text error-expand">
                            <!-- ####USCREF_ERROR_PACKET_MESSAGE### -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>